a {
	max-width:155px;
}
h1 {
	text-align: center;
	font-family: "lato";
	font-weight: 300;
	color:#838383;
}

html {
	width:auto;
	height:auto;
}

#content {
	z-index: 2;
	border-top:1px solid #adadad;
	margin-top:5px;
	margin-left:40px;
	width:900px;
}      

ul {
	display:flex;
list-style: none;
width:1217px;
height:89px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

#nav {
	z-index:1;
	margin-left:px;
	width:1600px;
	height:59px;
}

#nav li {

	white-space: nowrap;
	display: inline-block;;
	margin-left:3px;
	height: 69px;
	width:125px;
}

#buttons {
	z-index:7;
	margin-right:-60px;
	margin-top:-135px;
	float:right;
}

#buttons .back {
	z-index:9;
	margin-left:25px;
	float:left;
	background-image:url('images/buttons/back.png');
	background-repeat:no-repeat;
	background-size: 80%;
	width:35px;
	height:35px;
}


#buttons .forward {
	z-index:9;
	margin-right:75px;
	float:right;
	background-image:url('images/buttons/forward.png');
	background-repeat:no-repeat;
	background-size: 80%;
	width:35px;
	height:35px;
}
/* active */

.retireactive {
	width:250px;
	margin-top:23px;
}
.retireactive img {
	margin: 1px 1px 1px 1px;
	display:inline-block;
	width:auto;
	height:21px;
}


.resultsactive {
	width:200px;
	margin-top:23px;
}
.resultsactive img {
	margin: 1px 1px 1px 1px;
	display:inline-block;
	width:auto;
	height:21px;
	
}
/* welcome */

.welcome {
	
	/*position:fixed;*/
display:inline-block;
background-image:url("images/welcome.png");
background-repeat:no-repeat;
background-size: 90%;
height: 56px;
width:132px;
}

.welcome2 {
	
	/*position:fixed;*/
display:inline-block;
background-image:url("images/welcome2.png");
background-repeat:no-repeat;
background-size: 90%;
height: 56px;
width:132px;
}
/* action */

#action {
	z-index:1;
}
.action {
	z-index:1;
display:inline-block;
background-image:url("images/action.png");
background-repeat:no-repeat;
background-size: 90%;
height: 56px;
width:132px;
}

.action2 {
	z-index:1;
display:inline-block;
background-image:url("images/action2.png");
background-repeat:no-repeat;
background-size: 90%;
height: 56px;
width:132px;
}
/* retire */

#retire {
	z-index:9;
	
max-height:89px;
width:175px;
overflow: hidden;
display:inline-block;
}

.retire_steps {
	z-index:99;
	margin: 100px 5px 0 178px;
	background-image: url("images/retire/retire_steps.png");
	background-size: 90%;
	display:block;
	width:35px;
	height:10px;
}

.retirebackground {

	z-index:-2;
	position:fixed;
display:inline-block;
background-image:url("images/retire/1box.png");
background-size: 90%;
background-repeat:no-repeat;
height: 56px;
width:132px;
}

.retirebackground_1 {

	z-index:-2;
	position:fixed;
display:inline-block;
height: 56px;
width:132px;
}
.retirebackground_2 {

	z-index:99;
	position:fixed;
display:inline-block;
background-image:url("images/retire/retire2.png");
background-repeat:no-repeat;
background-size: 90%;
height: 56px;
width:132px;
}


.retire {
	z-index: -1;
 margin: 1px 0 0 74px;
position:fixed;
display:inline-block;
background-image:url("images/retire/retire.png");
background-repeat:no-repeat;
background-size: 50%;
width: 175px;
height:36px;
}

/* results */

#results {
	z-index:10;
	max-height:116px;
	width:300px;
	overflow: hidden;
	display:inline-block;
}

.results_steps {
	z-index:99;
	margin: 100px 1px 0 178px;
	background-image: url("images/results/results_steps.png");
	display:inline-block;
	background-size: 90%;
	width:35px;
	height:10px;
}

.resultsbackground {
	z-index: -1;
position:fixed;
display:inline-block;
background-image:url("images/results/1box.png");
background-repeat:no-repeat;
background-size: 90%;
height: 56px;
width:132px;
}

.resultsbackground_1 {
	z-index: -1;
position:fixed;
display:inline-block;
height: 56px;
width:132px;
}

.resultsbackground_2 {
	z-index: 99;
position:fixed;
display:inline-block;
background-image:url("images/results/results2.png");
background-repeat:no-repeat;
background-size: 90%;
height: 56px;
width:132px;
}
.results {
	z-index:-1;
	margin: 2px 0 0 68px;
position:fixed;
display:inline-block;
background-image:url("images/results/results.png");
background-repeat:no-repeat;
background-size: 50%;
width: 122px;
height:37px;
}


 
